.status {
    background-color: white;
    color: black;
    border: solid black 1px;
    margin: 10px;
    padding: 10px;

    position: relative;
  }

  .status .close {
      position: absolute;
      top:0;
      right:0;
      font-size: 30px;
      padding: 5px;
      cursor: pointer;
  }